$breakpoints: (
    xs: 375,
    md: 768,
    xl: 1280,
    xxl: 1440,
    fhd: 1920,
    max: 1921,
);

$breakpoints-vertical: (
    xs: 812,
    md: 1024,
    xl: 720,
    xxl: 900,
    fhd: 1080,
);
